/*VARIABLES*/

:root
{
   --sidebar-width: 80px;
   --folder-structure-width: 100px;
}

/* MAIN */

body
{
   margin: 0;
   padding: 0;
}

.sidebar
{
   width: var(--sidebar-width);
   height: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: darkgrey;
   overflow-x: hidden;
}

.sidebar a
{
   padding: 5px;
   text-decoration: none;
   display: block;
   color: black;
}

.app-links
{
   position: fixed;
   bottom: 0;
}

.main
{
   margin-left: var(--sidebar-width);
   position: fixed;
   top: 0;
   left: 0;
   height: 70%;
}

.sample
{
   margin-left: var(--sidebar-width);
   width: 100%;
   height: 30%;
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: lightskyblue;
}

/* FOLDER VIEW */

.folder-structure-view
{
   margin: 0;
   width: var(--folder-structure-width);
   height: 100%;
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: gainsboro;
}

.folder-contents-view
{
   margin: 0;
   margin-left: calc(var(--folder-structure-width) + 40px); /*+ 40px -> Padding from <ul> bullets*/
   height: 100%;
}

/* LIBRARIES VIEW */

.library-list-view
{
   margin: 0;
   width: var(--folder-structure-width);
   height: 100%;
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: gainsboro;
}

.library-contents-view
{
   margin: 0;
   margin-left: calc(var(--folder-structure-width) + 40px); /*+ 40px -> Padding from <ul> bullets*/
   height: 100%;
}

/* TAGS VIEW */

.tag-list-view
{
   margin: 0;
   width: var(--folder-structure-width);
   height: 100%;
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: gainsboro;
}

.tag-list-view input
{
   width: 90%;
}

.tag-list-view button
{
   width: 100%;
}

.tag-contents-view
{
   margin: 0;
   margin-left: calc(var(--folder-structure-width) + 40px); /*+ 40px -> Padding from <ul> bullets*/
   height: 100%;
}

/* GROUPS VIEW */

.group-list-view
{
   margin: 0;
   width: var(--folder-structure-width);
   height: 100%;
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: gainsboro;
}

.group-list-view input
{
   width: 90%;
}

.group-list-view button
{
   width: 100%;
}

.group-contents-view
{
   margin: 0;
   margin-left: calc(var(--folder-structure-width) + 40px); /*+ 40px -> Padding from <ul> bullets*/
   height: 100%;
}