/*VARIABLES*/

:root
{
   --sidebar-width: 80px;
   --folder-structure-width: 100px;
}

/* MAIN */

.sidebar
{
   width: var(--sidebar-width);
   height: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: darkgrey;
   overflow-x: hidden;
   padding: 5px;
}

.sidebar a
{
   padding: 5px;
   text-decoration: none;
   display: block;
   color: black;
}

.app-links
{
   position: fixed;
   bottom: 0;
}

.main
{
   margin-left: var(--sidebar-width);
}

.sample
{
   margin-left: var(--sidebar-width);
   width: 100%;
   height: 200px;
   position: fixed;
   bottom: 0;
   padding: 10px;
   background-color: lightskyblue;
}

/* FOLDER VIEW */

.folder-structure-view
{
   width: var(--folder-structure-width);
   height: 100%;
   position: fixed;
   top: 0;
   left: var(--sidebar-width);
   background-color: gainsboro;
}

.folder-contents-view
{
   margin-left: var(--folder-structure-width);
}